<a routerLink="/list-cards">
  <button class="btn-back" mat-mini-fab color="primary" aria-label="Back button">
    <mat-icon>arrow_back</mat-icon>
  </button>
</a>

<div class="form-container" fxLayoutAlign="center">

  <mat-card>
    <mat-card-title>Add Card</mat-card-title>
    <form [formGroup]="createCardForm" (ngSubmit)="onSubmit()" fxLayout="column">
  
      <mat-form-field class="form-field">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" required>
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <mat-label>Path</mat-label>
        <input matInput type="text" formControlName="path" required>
      </mat-form-field>
      
      <mat-form-field class="form-field">
        <mat-label>Value</mat-label>
        <input matInput type="text" formControlName="value" required>
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <mat-label>Unit Symbol</mat-label>
        <input matInput type="text" formControlName="unitSymbol" required>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Type</mat-label>
        <input matInput type="text" formControlName="type" required>
      </mat-form-field>
  
      <mat-card-actions>
        <button class="btn-submit" mat-flat-button color="primary" type="submit" [disabled]="!createCardForm.valid">Submit</button>
      </mat-card-actions>
      
    </form>
  </mat-card>

</div>