<mat-form-field class="search-form">
  <mat-label>Search Here</mat-label>
  <input matInput type="text" [(ngModel)]="term">
  <button class="btn-clear" mat-button *ngIf="term" matSuffix mat-icon-button aria-label="Clear" (click)="term=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div class="container" fxLayout="row wrap" fxLayoutGap="1%">
  <mat-card class="card" *ngFor="let card of cards | filter:term">
    <mat-card-title>
      <div class="action-icons">
        <a (click)="this.editCard(card.id)" routerLink="/edit-card">
          <span class="material-icons">
            update
          </span>
        </a>
        <span class="material-icons" (click)="this.deleteCardDialog(card.id)">
          delete
        </span>
      </div>
      <h2>{{ card.name }}</h2>
      <p class="small">{{ card.path }}</p>
      <p class="small">@{{ card.lastUpdate | date:"HH:mm"}}</p>
      <img class="svg" src="../../../assets/{{ card.image }}">
      <p class="value">{{ card.value }}</p>
      <p class="symbol">{{ card.unitSymbol }}</p>
    </mat-card-title>
  </mat-card>
</div>