.toolbar
  a
    text-decoration: none
    color: white

.search-form
  margin: 16px 0 0 16px
  .mat-form-field
    width: 220px

.btn-toggle-view
  margin-right: 16px !important
  .toggle-icon
    font-size: 42px
    cursor: pointer
    margin-right: 16px

.add-card
  margin-right: 16px

// card view styles
.card-view-container
  margin: 0 16px 0
  @media screen and (max-width: 1070px)
    justify-content: center

  .card-view
    width: 480px
    max-width: 480px
    height: 240px
    margin-bottom: 1%

    .mat-card-header-text
      margin: 0 12px !important

    &:last-of-type
      margin-right: 1%

    a
      color: inherit
      margin-right: 5px

    span:last-child
      cursor: pointer
    
    h2
      margin: 0 !important
      color: inherit

    .action-icons
      margin: 5px 8px 0 0
      .material-icons
        font-size: 23px

    .small
      color: #bdbdbd
      font-size: 70%
      margin: 0

    .svg
      width: auto
      height: 50px
      position: absolute
      bottom: 18px
      left: 14px

    p
      color: #009b88

    .value, .symbol
      position: absolute
      right: 27px
      
    .value
      bottom: 26px
      font-size: 30px
      line-height: 30px
      text-align: right
      max-width: 120px

    .symbol
      bottom: 18px
      font-size: 100%

// grid view styles
.grid-view-container
  width: 1000px
  margin-bottom: 1%

  .grid-view
    .mat-card-title, p
      padding-right: 12px
      border-right: 1px solid #e4e4e4
      line-height: 40px
      width: 20%

    .mat-card-title
      margin: 0 4px 0 0
      h3
        line-height: 40px

    a
      color: inherit
      margin-right: 5px

    span:last-child
      cursor: pointer
    
    h3
      margin: 0 !important
      color: inherit

    .action-icons
      width: 15%
      .material-icons
        font-size: 19px

    .small
      color: #bdbdbd
      margin: 0
      width: 35%

    .value
      width: 30%

    .svg
      width: auto
      height: 40px

    p
      color: #009b88
      margin: 0
      padding-left: 15px

// new/edit card form
.form-container
  margin: 3% 16px 16px

  .mat-card
    width: 520px
    @media screen and (max-width: 520px)
      width: 100%

// mat-dialog buttons
.btn-dialog, .btn-submit
  float: right

.btn-back
  margin: 10px 0 0 10px !important

@media screen and (max-width: 1000px)
  .grid-view-container
    width: 100%
    margin: 0 16px 16px
    .grid-view
      .mat-card-title
        margin: 0 0 0 4px
      .h3, p
        line-height: 20px
    .svg
      height: 25px
