.toolbar
  a
    text-decoration: none
    color: white
    line-height: 23px

  .material-icons
    font-size: 36px

.mat-form-field
  width: 220px

.search-form
  margin: 1% 0 0 1%

.container
  margin: 0 1% 1% 1%

  .card
    width: 480px
    max-width: 480px
    height: 240px
    margin-bottom: 1%

    a
      color: inherit
      margin-right: 5px

    span:last-child
      cursor: pointer
    
    h2
      margin: 0 !important
      color: inherit

    .action-icons
      float: right
      .material-icons
        font-size: 23px

    .small
      color: #bcbcbc
      font-size: 70%
      margin: 0

    .svg
      width: 50px
      height: 70px
      // filter: invert(.5) sepia(1) saturate(255) hue-rotate(172deg) brightness(125%)
      position: absolute
      bottom: 13px
      left: 12px

    p
      color: #009b88
      max-width: 120px

    .value, .symbol
      position: absolute
      right: 27px
      
    .value
      bottom: 26px
      font-size: 30px
      line-height: 30px
      text-align: right

    .symbol
      bottom: 0
      font-size: 85%

.form-container
  margin-top: 3%

  .mat-form-field
    width: 520px
    @media screen and (max-width: 600px)
      width: 280px

.btn-dialog, .btn-submit
  float: right

.btn-back
  margin: 0.5% 0 0 0.5% !important